{% extends "base.html" %}

{% block title %} - About{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1>About</h1>
      SatNOGS Network is a global management interface to facilitate multiple ground station
      operations remotely. An observer is able to take advantage of the full network of
      SatNOGS ground stations around the world.
      It's part of the <a href="https://satnogs.org/" target="_blank">SatNOGS project</a>.
      <h3>Observations</h3>
      The network is open to anyone. Any observer is able to utilize all available Ground Stations
      and communicate with Satellites. All observations results are public
      and all data are distributed freely under the
      <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Atribution-Share Alike</a> license.
      <h3>Ground Stations</h3>
      Whether you own satellite ground station equipment or you want
      to build one you can head to
      <a href="https://satnogs.org" target="_blank">SatNOGS Project site</a>
      to get up to date documentation and info on how to build a SatNOGS ground station (still under development).
      <h3>Coding</h3>
      Fluent in Python and/or JS? We need you to help with satnogs-network web application. Take a look to our
      <a href="https://gitlab.com/librespacefoundation/satnogs/satnogs-network/" target="_blank">source code</a> or visit
      our <a href="https://gitlab.com/librespacefoundation/satnogs/satnogs-network/issues" target="_blank">issues tracker</a>
      to start filling bugs, feature requests or code fixes for existing ones.
      Detailed contribution and development documentation is also available at
      <a href="http://docs.satnogs.org" target="_blank">docs.satnogs.org</a>.
    </div>
  </div>
{% endblock content %}
